<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="attractive.css">
<head>
	<meta charset="UTF-8">
	<title>attractive</title>
</head>
<body>
	<div class="card">attractive&nbsp;
		<i>/əˈtræktɪv/ (adjective)</i>
		<div><br></div>
	</div>
	<hr id=answer>
	<div class="card">
	<div class="backcard">
		<div class="word">BEAUTIFUL</div>
		<div class="level">A2</div>
		<span class="translate">beautiful or pleasant to look at lorem</span>
		<div class="russian">привлекательный</div>
		<div class="example">an attractive woman</div>
	</div>
	</div>
</body>
</html>